<div ng-include src="'partials/sidebar.html'"></div>

<span class="content login-body">
    <h2>Create an Aegis Account</h2>
    <form ng-submit="changeMP()">
        Note: you will be logged out after this operation.
        <table>
            <tr>
                <td><label>Change Master Password:</label></td>
                <td><input type="password" ng-model="password" ng-class="passwordClass"/></td>
            </tr>
            <tr>
                <td colspan="2"><font color="red"><b>WARNING: Do NOT forget this password. Without it, your account information is irretrievable.</b></font></td>
            </tr>
            <tr>
                <td colspan="2"><b>We recommend creating a password of at least length 16.</b></td>
            </tr>
            <!--<tr>
            <td><label for="password">Confirm Password:</label></td>
            <td><input type="password" id="password"/></td>
            </tr>-->
        </table>
        <button type="submit">Change Master Password</button>
    </form>
</span>

